@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;   
@use '../../styles/partials/fonts' as *;
@import '../../styles/partials/mixins';

.header{
   display: flex;
   flex-direction:  column;
   justify-content: center;
   align-items: center;
   padding: 1rem 2rem;
   background-color: $colorB;


    @include responsiveness('tablet') {
        flex-direction:  row;
        justify-content: space-between;
        padding: 1rem 3rem;
    }
    @include responsiveness('desktop') { 
        flex-direction:  row;
        justify-content: space-between;
        padding: 1rem 4rem;
    }
    &__logo{
        width: 20%;     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
        @include responsiveness('tablet') {
            width: 7%;
        }
        @include responsiveness('desktop') { 
            width: 7%;
        }
    }
    &__image{
        max-inline-size: 100%;
        object-fit: cover;
        border-radius: 25%;
                
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
    &__subdivision{
        display: flex;
        flex-direction:  column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin-top: 0.5rem;
        @include responsiveness('tablet') {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0;
            width: 75%;

        }
        @include responsiveness('desktop') { 
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0;
            width: 75%;
        }
    }

    &__Link{
        text-decoration: none;
        margin-bottom: 0.5rem;
        color: $colorOrange;
        @include responsiveness('tablet') {
            margin-bottom: 0;
            font-size: 2.3vw;
            
        }
        @include responsiveness('desktop') { 
            margin-bottom: 0;
            font-size: 2.3vw;
        }
    }
    
}