@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;   
@use '../../styles/partials/fonts' as *;
@import '../../styles/partials/mixins';



.hero {
    @include responsiveness('tablet') {
    }
    @include responsiveness('desktop') { 
    }
    &__general-info{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
    &__header{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
    &__Text{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
    &__subdivision{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
    &__Image{
        max-inline-size: 100%;
        object-fit: cover;
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }

}

.about{
    @include responsiveness('tablet') {
    }
    @include responsiveness('desktop') { 
    }
    &__header{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
    &__details{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
    &__Text{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
}

.get-started{
    @include responsiveness('tablet') {
    }
    @include responsiveness('desktop') { 
    }
    &__subdivision{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
    &__Image{
        max-inline-size: 100%;
        object-fit: cover;
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }
    &__button{
        @include responsiveness('tablet') {
        }
        @include responsiveness('desktop') { 
        }
    }

}