@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;   
@use '../../styles/partials/fonts' as *;
@import '../../styles/partials/mixins';


.signup{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__header{
        text-align: center;
        margin: 0;
        margin-bottom: 0.8rem;
        @include SizeLineWeight(1.2rem, 1.5rem, 700);
        @include responsiveness('tablet') {
            font-size: 2.5vw;
            margin-bottom: 3vh;
        }
        @include responsiveness('desktop') { 
            font-size: 2.5vw;
            margin-bottom: 3vh;
        }
    }
      
}

.signup-form{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $colorOrange;
       
        width: 65%;

    @include responsiveness('tablet') {
        padding-top: 0.5rem;
    }
    @include responsiveness('desktop') { 
    }
    &__label{
        @include SizeLineWeight(0.8rem, 1.25rem, 600);
        width: 100%;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        @include responsiveness('tablet') {
            font-size: 2vw;
            padding-top: 2vh;
            padding-bottom: 2vh;
        }
        @include responsiveness('desktop') { 
            font-size: 2vw;
            padding-top: 2vh;
            padding-bottom: 2vh;
        }
    }
    &__input{
        width: 60%;
        border-radius: 0.25rem;
        background-color: $colorW;
        font-family: 'AvenirNext LT Pro', sans-serif;
        
        @include responsiveness('tablet') {
            line-height: 3vh;
        }
        @include responsiveness('desktop') { 
            line-height: 3vh;
            width: 50%;
        }
    }
    &__submit{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 2rem;
        color: $colorW;
        width: 50%;
        @include SizeLineWeight(0.7rem, 1.5rem, 700);
        background-color: $colorBlue;
        @include responsiveness('tablet') {
            @include SizeLineWeight(2vw, 2rem, 700);
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
        @include responsiveness('desktop') { 
            margin-top: 2vh;
        margin-bottom: 2vh;
            font-size: 2vw;
            width: 40%;
            @include SizeLineWeight(2vw, 4vh, 700);
        }
    }
    &__submit:hover {
        background-color: $colorB;
    }
}